
<form id="EmployeeDetails">

    <fieldset>

        <legend></legend>
        Employee Name:<input type="text" name="EmployeeName" id="EmployeeName" class="form-control" />
        Employee Address:<input type="text" name="EmployeeAddress" id="EmployeeAddress" class="form-control" />
        Employee Salary:<input type="text" name="EmployeeSalary" id="EmployeeSalary" class="form-control" />
        <input type="button" name="BtnSubmit" class="btn btn-default" onclick="SaveEmployee()" value="Save"/>
    </fieldset>
</form>
<script type="text/javascript">

    function SaveEmployee() {
        var EmployeeDetail = $("#EmployeeDetails").serialize();
        $.post("/Employee/Create", EmployeeDetail, function (data) {
            if (data==0) {
                location.href = location;
            }
            else {
                window.location.replace("/Employee/Index");
            }
        });
    }
</script>